MAPR_CLUSTER=mycluster
MAPR_CLDB_HOSTS=cldb.lab.local
MAPR_CONTAINER_USER=mycontaineruser
MAPR_CONTAINER_PASSWORD=
MAPR_CONTAINER_GROUP=mycontainergroup
MAPR_CONTAINER_UID=12345
MAPR_CONTAINER_GID=12345
MAPR_TICKETFILE_LOCATION=/tmp/mapr_ticket/maprticket_12345
MAPR_MOUNT_PATH=/mapr
MAPR_TZ=US/Central
MAPR_RSYSLOG_VOLUME_LOCATION="/data/prod/rsyslog"
MAPR_RSYSLOG_STREAM_LOCATION="/data/prod/rsyslog/rsyslogstream"
MAPR_RSYSLOG_DEFAULT_PARTITIONS=3
MAPR_RSYSLOG_TOPIC="omkafka"
RSYSLOG_TCP_PORT=1514
RSYSLOG_UDP_PORT=1514
LD_PRELOAD=/opt/mapr/lib/librdkafka.so
IMG="maprrsyslog:latest"
